---
layout: index.hbs
---

<h1>Project Name</h1>

<h2>Templates</h2>
<ul class="zebra-striping">
	{{#withSort (items "pages") 'data.title'}}
		{{#if this.data.title}}
			<li><a href="{{formatIndexPageUrl this }}">{{ this.data.title }}</a></li>
		{{/if}}
	{{/withSort}}
</ul>

<h2>Modules</h2>
<ul class="zebra-striping">
	{{#withSort (items "modules") 'data.title'}}
		{{#if this.data.title}}
			<li><a href="{{formatIndexModuleUrl this }}">{{ this.data.title }}</a></li>
		{{/if}}
	{{/withSort}}
</ul>
